body{
    background-color: lightblue;
    font-family: Arial;
    text-align: center;
}

h1{
    color: darkblue;
}

h2{
    color: purple;
}

p{
    font-size: 18px;
}

ul{
    list-style-position: inside;
}

button{
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}